
.mid{
  padding-top: 70px;
  .container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding: 30px 0px 0px;
    justify-content: center;
    margin-bottom: 20px;
    .content{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      align-items: center;
    }
  }
}
